* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    position: relative; /* Add relative positioning to enable z-index */
    overflow: hidden; /* Prevent vertical and horizontal scrolling */
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 58px;
}

#logo {
    
    height: 60px;
    margin-left: 50px;
    margin-top: 20px; 
}

.text {
    font-size: 25px;
    font-weight: 600;
}

.navbar .text a {
    text-decoration: none;
    margin-left: 100px;
}
.navbar a:hover{
  color: aqua;
}

.container {
    display: flex;
    flex-direction: column; /* Ensure elements stack vertically */
    position: relative;
    top: 200px;
    left: 100px;
    z-index: 2; /* Ensure the content container stays above the background */
}

h1 {
    font-size: 64px;
}

span {
    color: #65824C;
}

.container h5 {
    font-size: 24px;
    margin-top: 20px;
}

.bc-color {
    position: fixed; /* Set the background to fixed position */
    top: 0;
    left: 40%; /* Position the background to the right edge */
    width: 100%; /* Set width to fill the entire viewport */
    height: 100vh; /* Set height to fill the entire viewport height */
    background-color: #D90000;
    transform: rotate(-60deg); /* Rotate the background */
    z-index: -1; 
}@keyframes slideInFromLeft {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

.navbar .text a ,img {
    text-decoration: none;
    margin-left: 100px;
    animation: slideInFromLeft 0.4s ease; /* Apply animation */
}
#logo {
    height: 60px;
    margin-left: 50px;
    margin-top: 20px;
    transition: transform 0.3s ease; /* Add transition property */
}

#logo:hover {
    transform: scale(1.2); /* Scale the logo on hover */
}
@keyframes zoomOut {
    from {
        transform: scale(1);
    }
    to {
        transform: scale(0.9);
    }
}

.container h1,
.container h5 {
    animation: zoomOut 0.3s ease forwards; /* Play animation on page load */
}

/* Optionally, you can delay the animation for a smoother effect */
.container h1 {
    animation-delay: 0.2s;
}

.container h5 {
    animation-delay: 0.3s;
}



